body {
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    
}

main {
    padding: 2%;
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
}

main h1 {
    font-size: 3rem;
}

main p {
    font-size: 1.2rem;
}

footer{
    position: fixed;
    width: 100%;
    height: 10vh;
    bottom: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-footer{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.div-footer a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

video {
    width: 90%;
}

#anuncio-data{
    width: 85%;
    height: 70%;
    background-color: rgba(100, 100, 100, .9);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#anuncio-data p{
    font-size: 30px;
}

#anuncio-data button{
    width: 7rem;
    height: 2rem;
    font-size: 20px;
}

.display-none{
    visibility: visible;
}

@keyframes backgroundColors {
    0% {background-color: red;}
    5% {background-color: greenyellow;}
    10% {background-color: black;}
    15% {background-color: palevioletred;}
    20% {background-color: blue;}
    25% {background-color: yellow;}
    30% {background-color: aquamarine;}
    35% {background-color: white;}
    40% {background-color: red;}
    45% {background-color: greenyellow;}
    50% {background-color: black;}
    55% {background-color: palevioletred;}
    60% {background-color: blue;}
    65% {background-color: yellow;}
    70% {background-color: aquamarine;}
    75% {background-color: white;}
    80% {background-color: red;}
    85% {background-color: greenyellow;}
    90% {background-color: black;}
    95% {background-color: palevioletred;}
    100% {background-color: blue;}
}

@keyframes backgroundBlackWhite {
    0% {background-color: black;}
    5% {background-color: white;}
    10% {background-color: black;}
    15% {background-color: white;}
    20% {background-color: black;}
    25% {background-color: white;}
    30% {background-color: black;}
    35% {background-color: white;}
    40% {background-color: black;}
    45% {background-color: white;}
    50% {background-color: black;}
    55% {background-color: white;}
    60% {background-color: black;}
    65% {background-color: white;}
    70% {background-color: black;}
    75% {background-color: white;}
    80% {background-color: black;}
    85% {background-color: white;}
    90% {background-color: black;}
    95% {background-color: white;}
    100% {background-color: black;}
}